body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
/* ****************************************** */
html {
    margin: 0;
    padding: 0;
    height: 750px !important;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 750px !important;
    overflow-x: hidden;
    /* background-color: ; */
    
    display:flex; 
    flex-direction:column; 
}

h1 { text-align: center; }

#navbar { background-color: lightblue; }

#chessGame
{
	width: 100% !important;
}

#myBoard
{
	width: 95% !important;
	margin-left: auto;
  margin-right: auto;
margin-top: 10px; margin-bottom: 10px;
}

 #singlePlayer, #multiPlayer, #joinButton, #cm-chessboard
{
    margin: 10px;
    width: 300px;
    padding: 20px;
    font-size: 22px;
 }

 #gameMode, #joinFormDiv{
    padding: 10px; 
    margin-top: 8%;
 }

 .black-3c85d {
    background-color: #E1E1E1;
    color: #FFFFFF;
}

.white-1e1d7 {
    background-color: #FFFFFF;
    color: #E1E1E1;
}

#grey_board, #orange_board, #green_board, #blue_board{
    margin: 6px;
    width: 130px;
}
.formInput {
    border: 1px solid gray;
    height: 50px;
    border-radius: 4px;
    width: 300px;
    margin: 10px;
    padding: 0 4px;
}

.myMessage{
    text-align: right;
    padding: 8px;
    background-color: #E0E0E0;
    font-size: 17px;
    margin-bottom: 10px;
    margin-right: 7px;
    clear:both;
    float : right;
    border-radius: 5px;    
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.youMessage{
    text-align: left;
    padding: 8px;
    background-color: #616161;
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
    clear:both;
    border-radius: 5px;
    float : left;    
}

#grey_board, #orange_board, #blue_board, #green_board
{ width: 20%;
	}

#leave
{
	width: 50%;
	margin: 2em;
}

#footer
{
	position: absolute; 
    bottom: 0;
    width: 100%;
	background-color: dimgray;
color: white; margin-top:auto; padding: 15px; text-align: center;
font-size: 1em;
}

/*
@media screen and (max-width: 1039px) {
  body > main{
    ...
  }
}

@media screen and (min-width: 1040px) {
  body > main{
    ...
  }
} */